<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>

    <add key="SqlUrl" value="http://23.96.16.92:5015/root/" />
    <!-- SendSignalR value="url,salt,hub,method" , Please keep the same sequence for values -->
    <add key="SendSignalR" value="https://entergamingsports-testa.miomni.com,7f0a970f1ab9132639bd2d4591f2394c,InGameHub,SendUpdate" />
    <!-- SRScorePullUrlList value="commasparated urls  Soccer,Tennis,BaskteBall,..." -->
    <add key="SRScorePullUrlList" value="https://api.sportradar.com/soccer-xt3/eu/stream/events/subscribe?api_key=nu69xvka8sssxy4c7fms3gm4,http://api.sportradar.us/tennis-t2/stream/statistics/subscribe?api_key=5t7wysc2up7h4hqe6d3j7umw" />

    <!-- 
          NBAURL    :  http://api.sportradar.us/nba/trial/stream/en/clock/subscribe?api_key=hyzs6dzfzdkfsux7wtgq3x44
          SoccerURL :  https://api.sportradar.com/soccer-xt3/eu/stream/events/subscribe?api_key=nu69xvka8sssxy4c7fms3gm4
          TennisURL :  http://api.sportradar.us/tennis-t2/stream/statistics/subscribe?api_key=5t7wysc2up7h4hqe6d3j7umw 
     -->

    <!-- Start : NCAFF settings -->
    <add key="NCAAFBGamesScheduleAPI" value="http://api.sportradar.us/ncaafb-t1/{year}/REG/schedule.xml?api_key=n36p42dqxknd6ejqbn7aap4y" />
    <!--<add key="NCAAFBScoreAPI" value="https://api.sportradar.us/ncaafb-t1/{year}/REG/{week}/{home}/{away}/boxscore.xml?api_key=n36p42dqxknd6ejqbn7aap4y" /> -->
    <add key="NCAAFBTeams" value="https://api.sportradar.us/ncaafb-t1/teams/FBS/hierarchy.xml?api_key=n36p42dqxknd6ejqbn7aap4y" />
    <!-- End : NCAFF settings -->

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <!-- fileName : Logfile path , per day 1 log file will be generated with filename as date  -->
      <target name="file" xsi:type="File" fileName="logs\${shortdate}.txt" layout="${callsite:className=false:includeSourcePath=false:methodName=false} ${date:format=HH\:mm\:ss} ${message}" />
    </targets>
    <rules>
      <logger minLevel="Debug" writeTo="file" />
    </rules>
  </nlog>

</configuration>